---
import AppleJob from '../assets/AppleJob.jpg';
import Defense from '../assets/defense.jpg';
import HouseKeep from '../assets/housekeep.jpg';
import ICLR from '../assets/iclr.jpg';
import PointGoal from '../assets/pointgoal.jpg';
import Reason from '../assets/reason.jpg';
import Text from '../assets/text.jpg';
---

<div class="max-w-7xl bg-white mx-auto py-4 hidden md:block px-4">
    <div class="font-bold text-3xl mb-4">News</div>
    <div class="flex flex-row gap-8 overflow-x-auto pb-4">
        <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl -rotate-2">
           <a href="#LLARP">
           <img class="" src={ICLR.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">LLaRP got accepted at ICLR </p>
           <p class="px-2 py-1 font-inconsolata font-medium">Jan, 2024</p>      
           </a>
       </div>
       <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl -rotate-2">
           <!-- <a href="#AppleJob"> -->
           <img class="" src={AppleJob.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">Started as a Research Scientist at Apple MLR </p>
           <p class="px-2 py-1 font-inconsolata font-medium">June, 2023</p>
       </div>
       <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl rotate-2">
           <img class="" src={Defense.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">Defended my PhD Thesis</p>
           <p class="px-2 py-1 font-inconsolata font-medium">May, 2023</p>
       </div>
       <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl rotate-2">
           <a href="#Housekeep">
           <img class="" src={HouseKeep.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">HouseKeep got accepted at ECCV </p>
           <p class="px-2 py-1 font-inconsolata font-medium">Sep, 2022</p>
           </a>
       </div>
       <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl -rotate-2">
           <a href="#KnownUnknowns">
           <img class="" src={Reason.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">Known Unknowns accepted at UAI as Oral </p>
           <p class="px-2 py-1 font-inconsolata font-medium">Aug, 2021</p>
           </a>
       </div>
        <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl -rotate-2">
           <a href="#PointNav">
           <img class="" src={PointGoal.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">Point Goal Navigation accepted at ICCV </p>
           <p class="px-2 py-1 font-inconsolata font-medium">Nov, 2021</p>
           </a>
       </div>
       <div class="w-48 h-72 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-50 sm:rounded-2xl -rotate-2">
           <a href="#TextVQA">
           <img class="" src={Text.src} alt="Harsh Agrawal" />
           <p class="px-2 py-1">Work on TextVQA accepted at ECCV </p>
           <p class="px-2 py-1 font-inconsolata font-medium">Sep, 2020</p>
           </a>
       </div>
    </div>
 </div>